@import url(../../../static/css/colors.css);
@import url(../../../static/css/components/buttons.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

.auth-container {
    width: 100%;
    max-width: 500px;
}

body {
    min-height: 100vh;
    background-color: var(--secondary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card {
    background:var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.card h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.card p {
    color: var(--third-color);
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 0.375rem;
    font-size: 0.875rem;
    transition: all 0.2s;
}

.form-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);;
}

.form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--third-color);
}

.help-text {
    font-size: 0.75rem;
    color: var(--fourth-color);
    margin-top: 0.5rem;
}

.help-text li {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.help-text li::before {
    content: "•";
    color: var(--fourth-color);
}

.help-text ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}