@import url(../../../static/css/colors.css);

main {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
}

.pricing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.pricing-header {
    text-align: center;
    margin-bottom: 3rem;
}

.pricing-header h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.pricing-header p {
    font-size: 1.25rem;
    color: var(--third-color);
}

.pricing-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.pricing-card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-header {
    padding: 1.5rem;
    text-align: center;
}

.card-header h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.card-header p {
    color: var(--third-color);
    font-size: 0.875rem;
}

.card-content {
    padding: 0px 1.5rem 1.5rem 1.5rem;
    flex-grow: 1;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.currency {
    font-size: 1.5rem;
    vertical-align: super;
}

.period {
    font-size: 1rem;
    color: var(--third-color);
}

.monthly-price {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--third-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.discount-badge {
    background-color: var(--green);
    color: var(--white);
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.features {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.features li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: var(--third-color);
}

.features li i {
    margin-right: 0.5rem;
}

.checkmark {
    width: 1rem;
    height: 1rem;
    fill: var(--green);
    margin-right: 0.5rem;
}

.card-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
}

.select-tier {
    display: block;
    width: 250px;
}

.btn-current {
    display: block;
    width: 250px;
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: default;
}

/* Pantallas Pequeñas (Móviles, hasta 768px) */
@media (max-width: 768px) {
    .pricing-container {
        padding: 2rem 1rem;
    }

    .pricing-header h1 {
        font-size: 2rem;
    }

    .pricing-header p {
        font-size: 1rem;
    }

    .pricing-cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .pricing-card {
        margin-bottom: 1rem;
    }

    .card-header h2 {
        font-size: 1.25rem;
    }

    .card-header p {
        font-size: 0.875rem;
    }

    .price {
        font-size: 2rem;
    }

    .currency {
        font-size: 1.25rem;
    }

    .period {
        font-size: 0.875rem;
    }

    .monthly-price {
        font-size: 0.875rem;
    }

    .discount-badge {
        font-size: 0.75rem;
    }

    .features li {
        font-size: 0.875rem;
    }

    .select-tier,
    .btn-current {
        width: 100%;
    }
}

/* Pantallas Medianas (Tablets, 769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .pricing-container {
        padding: 3rem 1rem;
    }

    .pricing-header h1 {
        font-size: 2.25rem;
    }

    .pricing-header p {
        font-size: 1.125rem;
    }

    .pricing-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .card-header h2 {
        font-size: 1.5rem;
    }

    .card-header p {
        font-size: 1rem;
    }

    .price {
        font-size: 2.25rem;
    }

    .currency {
        font-size: 1.5rem;
    }

    .period {
        font-size: 1rem;
    }

    .monthly-price {
        font-size: 1rem;
    }

    .discount-badge {
        font-size: 0.875rem;
    }

    .features li {
        font-size: 1rem;
    }

    .select-tier,
    .btn-current {
        width: 100%;
    }
}

/* Pantallas Grandes (Laptops y Monitores, más de 1025px) */
@media (min-width: 1025px) {
    .pricing-container {
        padding: 4rem 1rem;
    }

    .pricing-header h1 {
        font-size: 2.5rem;
    }

    .pricing-header p {
        font-size: 1.25rem;
    }

    .pricing-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .card-header h2 {
        font-size: 1.75rem;
    }

    .card-header p {
        font-size: 1.125rem;
    }

    .price {
        font-size: 2.5rem;
    }

    .currency {
        font-size: 1.75rem;
    }

    .period {
        font-size: 1.125rem;
    }

    .monthly-price {
        font-size: 1.125rem;
    }

    .discount-badge {
        font-size: 1rem;
    }

    .features li {
        font-size: 1.125rem;
    }

    .select-tier,
    .btn-current {
        width: 250px;
    }
}