@import url(../../../static/css/colors.css);
@import url(../../../static/css/components/buttons.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

.available-devices-badges {
    display: flex;
    gap: 1rem;
    justify-content: center;

}

body {
    overflow-x: hidden;
}

.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    color: var(--primary-color);
    background-color: var(--primary-background);
    border-radius: 1rem;
}

.features {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

.feature-card {
    background: var(--primary-background);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    backdrop-filter: blur(10px);
    perspective: 1000px;
    height: 400px; /* Altura fija para la card */
}

.feature-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.feature-card.flipped .feature-card-inner {
    transform: rotateY(180deg);
}

.feature-card-front,
.feature-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 2rem;
}

.feature-card-front {
    background: var(--primary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-card-back {
    background: var(--primary-background);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-video {
    width: 100%;
    max-height: 80%;
    border-radius: 0.5rem;
}

#feature-btn, #feature-btn-close {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1),
        0 12px 18px rgba(0, 0, 0, 0.1);
}

.feature-description {
    color: var(--third-color);
    line-height: 1.6;
    font-size: 1rem;
}

.feature-icon {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--violet);
    background: rgba(79, 70, 229, 0.1);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.feature-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

footer p {
    color: var(--fourth-color);
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.hero {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    padding: 2rem 2rem;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    margin-bottom: 1rem;
    max-width: 800px;
    color: var(--primary-color);
}

.hero p {
    color: var(--third-color);
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.5rem;
}

.logo-image {
    width: 3rem;
    height: 3rem;
}

.see-prices {
    margin-top: 1rem;
}

.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.mobile-menu-toggle:hover {
    color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 10;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.show {
    left: 0;
}

/* Pantallas pequeñas (móviles, hasta 768px) */
@media (max-width: 768px) {
    .hero {
        padding: 1rem;
        min-height: 40vh;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 1rem;
    }

    .feature-card {
        padding: 1.5rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .nav-buttons {
        display: none;
    }
}

/* Pantallas medianas (Tablets, 769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero {
        padding: 1.5rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    footer {
        padding: 1.5rem;
    }
}

/* Pantallas medianas (monitores estándar, 1281px - 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .hero {
        padding: 2rem;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    footer {
        padding: 2rem;
    }
}

/* Pantallas grandes (monitores grandes, 1441px - 1920px) */
@media (min-width: 1441px) {
    .hero h1 {
        font-size: 3.5rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    footer {
        padding: 3rem;
    }
}