{% load i18n %}
{% autoescape off %}
{% blocktranslate %}
Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en {{ site_name }}.
{% endblocktranslate %}

{% translate "Por favor, accedé a la siguiente página y elegí una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Tu nombre de usuario, por si lo olvidaste:" %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}
El equipo de {{ site_name }}
{% endblocktranslate %}
{% endautoescape %}
