{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/favicon.svg' %}" >
    <title>Añadir Producto - Quero</title>
    <link rel="stylesheet" href="{% static 'css/add_stock.css' %}">
</head>
<body>
    <div class="form-container">
        <!-- Titutlo -->
        <div class="header-container">
            <a href="{% url 'stock:stock' %}" class="back-button"><i class="fas fa-arrow-left fa-2x"></i></a>
            <h2>Añadir producto</h2>
        </div>

        <!-- Formulario -->
        <form method="post">
            {% csrf_token %}
            <div class="form-content">
                <div class="form-group">
                    <label for="category">Categoría</label>
                    <div>
                        {{ form.category }}
                    </div>
                    {% for error in form.category.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="subcategory">Subcategoría</label>
                    <div>
                        {{ form.subcategory }}
                    </div>
                    {% for error in form.subcategory.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="name">Nombre del producto</label>
                    <div>
                        {{ form.name }}
                    </div>
                    {% for error in form.name.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="quantity">Cantidad</label>
                    <div>
                        {{ form.quantity }}
                    </div>
                    {% for error in form.quantity.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="cost">Costo</label>
                    <div>
                        {{ form.cost }}
                    </div>
                    {% for error in form.cost.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <div>
                        {{ form.price }}
                    </div>
                    {% for error in form.price.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="uom">Unidad de Medida</label>
                    <div>
                        {{ form.uom }}
                    </div>
                    {% for error in form.uom.errors %}
                        <p class="error" style="color: red;">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" name="action" value="add_and_finish" class="add-button">Guardar y Finalizar</button>
            <button type="submit" name="action" value="add_and_continue" class="add-continue-button"> Guardar y Agregar otro</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
    <script src="{% static 'js/add_stock.js' %}"></script>
</body>
</html>
