{% extends "base.html" %}
{% block title %}Importar Inventario{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/import_stock.css' %}">

    <div class="form-container">
        <div class="header-container">
            <a href="{% url 'stock:stock' %}" class="back-button"><i class="fas fa-arrow-left fa-2x"></i></a>
            <h2>Importar Inventario</h2>
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'stock:import_stock' %}">
            {% csrf_token %}
            <div class="form-content">
                <label for="stockFile">Selecciona el archivo a importar:</label>
                <input type="file" id="stockFile" name="stockFile" accept=".csv">
            </div>
            <button class="import-btn" type="submit">Importar</button>
        </form>
        <div class="info-container">
            <p>Descarga la <a href="{% url 'stock:download_csv_template' %}">plantilla</a> para importar tu inventario.
            </p>
        </div>
    </div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}