
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/favicon.svg' %}" >
    <title>Escanear Producto - Quero</title>
    <link rel="stylesheet" href="{% static 'css/scan_product.css' %}">
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/scan_product.css' %}">

    <div class="scan-container" id="scan-container">
        <div class="header-container">
            <a href="{% url 'stock:add_stock' %}" class="back-button"><i class="fas fa-arrow-left fa-2x"></i></a>
            <h2>Escanear Producto</h2>
        </div>
        <p>Apunta la cámara al código de barras del producto para escanearlo.</p>
        <div class="camera-container" id="interactive" class="viewport"></div>
        <div class="info-container">
            <div class="manual-scan">
                <p>Si no puedes escanear el código, también puedes introducirlo manualmente.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="barcode" id="manual_barcode" placeholder="Código de barras" required>
                    <button class="btn btn-primary" type="submit">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Tarjeta de confirmacion de producto con datos obtenidos del escaneo mas localStorage que se oculta hasta que el usuario confirma el escaneo -->
    <div class="confirmation-card" id="confirmation-card">
        <div class="confirmation-card-header">
            <h2>Producto escaneado</h2>
        </div>
        <form method="post" action="{% url 'stock:add_scan' %}" id="confirmation-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="category">Categoría</label>
                <div>
                    <input type="text" name="category" id="category" required>
                </div>
            </div>
            <div class="form-group">
                <label for="subcategory">Subcategoría</label>
                <div>
                    <input type="text" name="subcategory" id="subcategory" required>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Nombre del producto</label>
                <div>
                    <input type="text" name="name" id="name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="quantity">Cantidad</label>
                <div>
                    <input type="number" name="quantity" id="quantity" required>
                </div>
            </div>
            <div class="form-group">
                <label for="cost">Costo</label>
                <div>
                    <input type="number" name="cost" id="cost" required>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <div>
                    <input type="number" name="price" id="price" required>
                </div>
            </div>
            <div class="form-group">
                <label for="uom">Unidad de Medida</label>
                <div>
                    <input type="text" name="uom" id="uom" required>
                </div>
            </div>
            <div class="form-group">
                <label for="barcode">Código de barras</label>
                <div>
                    <input type="number" name="barcode" id="barcode" required>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" id="save-button">Confirmar</button>
            <a class="btn btn-default" href="{% url 'stock:add_stock' %}" type="button" id="cancel-button">Cancelar</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
    <script src="{% static 'js/scan_product.js' %}"></script>
</body>
</html>