{% load static %}

<link rel="stylesheet" href="{% static 'css/components/pagination.css' %}">
<span class="pagination-info">
    Página {{ page.number }} de {{ page.paginator.num_pages }}
</span>

{% if page.has_previous %}
    <a href="?page=1" class="pagination-button prev">
        <i class="fas fa-angle-double-left"></i>
        Primera
    </a>
    <a href="?page={{ page.previous_page_number }}" class="pagination-button prev">
        <i class="fas fa-angle-left"></i>
        Anterior
    </a>
{% endif %}

{% for num in page.paginator.page_range %}
    {% if page.number == num %}
        <a href="?page={{ num }}" class="pagination-button active">{{ num }}</a>
    {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
        <a href="?page={{ num }}" class="pagination-button">{{ num }}</a>
    {% endif %}
{% endfor %}

{% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="pagination-button next">
        Siguiente
        <i class="fas fa-angle-right"></i>
    </a>
    <a href="?page={{ page.paginator.num_pages }}" class="pagination-button next">
        Última
        <i class="fas fa-angle-double-right"></i>
    </a>
{% endif %}
</div>