{% load static%}
<aside class="sidebar">
    <div class="title-container">
        <a class="logo-title" href="{% url 'pos:pos' %}">
            <img class="logo-image" type="image/svg" src="{% static 'images/favicon.svg' %}" alt="Quero">
            Quero
        </a>
        {% include 'components/notifications.html' with notifications=notifications %}
    </div>
    {% if request.user.is_authenticated %}
        <nav class="nav-menu">
            <a class="nav-item btn btn-ghost {% if request.resolver_match.url_name == 'pos' %}active{% endif %}" href="{% url 'pos:pos' %}">
                <i class="fa-solid fa-dollar-sign fa-2x"></i>
                Venta
            </a>
            <a class="nav-item btn btn-ghost {% if request.resolver_match.url_name == 'stock' %}active{% endif %}" href="{% url 'stock:stock' %}">
                <i class="fa-solid fa-cubes fa-2x"></i>
                Inventario
            </a>
            <a class="nav-item btn btn-ghost {% if request.resolver_match.url_name == 'spends' %}active{% endif %}" href="{% url 'spends:spends' %}">
                <i class="fa-solid fa-receipt fa-2x"></i>
                Gastos
            </a>
            <a class="nav-item btn btn-ghost {% if request.resolver_match.url_name == 'summary' %}active{% endif %}" href="{% url 'summary:summary' %}">
                <i class="fa-solid fa-book fa-2x"></i>
                Resumen
            </a>
            <a class="nav-item btn btn-ghost {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'account:profile' %}">
                <i class="fa-solid fa-user fa-2x"></i>
                Cuenta
            </a>
            <a class="nav-item btn btn-ghost {% if request.resolver_match.url_name == 'support' %}active{% endif %}" href="{% url 'account:support' %}">
                <i class="fa-solid fa-headset fa-2x"></i>
                Soporte
            </a>
        </nav>
    {% endif %}
</aside>